@import './common';


// #region Header section
.logo {
  display: flex;
  justify-content: left;
  align-items: center;

  font-family: 'Arial', sans-serif;
  font-weight: 700px;
  font-size: 25px;
  line-height: 40px;
  color: $color-logo;
  text-decoration: none;
}

.logo__icon {
  margin: 0 4px 0 0;
  // fill: $color-logo;
  filter: drop-shadow (5px 2px 0 $color-logo-shadow);
  text-shadow: 5px 2px 0 $color-logo-shadow;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 31px;
}

.header__nav {
  display: flex;

  & .button:first-child {
    margin-right: 23px;
  }
}
// #endregion

// #region Hero section
.hero__top,
.hero__bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.hero__top {padding-top: 68px;}

.hero__top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 566px;
}

.hero__header-text {
  font-size: 42px;
  line-height: 1.36;
  font-weight: 500;
  color: $color-text-default;

  &--blue {
    color: $color-text-header-blue;
  }
}

.hero__bot-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 566px;
  margin: 0;
}

// #endregion

// #region Why Care section
.why-care {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;

  & > .section__subheader {
    max-width: 1086px;
    margin-top: 32px;
    margin-bottom: 14px;
  }
}

.why-care__sell {
  position: relative;
  padding-top: 14px;
  padding-bottom: 62px;
}

.why-care__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.why-care__list-item {
  position: relative;
  z-index: 2;
  max-width: 566px;
  min-height: 323px;
  margin-top: 34px;
  margin-bottom: 34px;
}

.why-care__article,
.negative__article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 32px;
  
  background-color: $color-text-white;
  box-shadow: 0px 62px 80px rgba(0, 0, 0, 0.07), 0px 22px 24px rgba(0, 0, 0, 0.04), 0px 6px 4px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
}

.article__header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.article__image {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 25px;
}

.article__title {
  // align-self: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;

  color: $color-text-header-blue;
}

.article__text {
  margin: 12px 0 0 0;
}

// #endregion

// #region How to get reviews section
.htg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.htg__content {
  padding: 0;
  width: 100%;
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
}

.htg__text {
  display: flex;
  max-width: 566px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
// #endregion

// #region Sell section
.sell__list {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  margin: -30px 0;
  padding: 0;
}

.sell__list-item {
  margin: 30px 0;
  display: block;

  // outline: 1px solid tomato;
}

.sell__article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sell__image,
.sell__info {
  max-width: 566px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: flex-start;

  & > .sell__text:not(:last-child) {
    margin: 0 0 32px;
  }
}

.sell__title {
  margin: 0 0 21px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: $color-text-header-blue;
}

.sell__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
}
// #endregion

// #region Automate section
.automate__content {
  display: flex;
  justify-content: space-between;
  margin: 48px 0 27px;
}

.automate__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 566px;
}

.automate__image {
  max-width: 566px;
  align-items: center;
}
// #endregion

// #region automate sell section
.automate__sell {
  background-color: $color-background-lightblue;
}
// #endregion

// #region Prices section

.section__prices {
  background: linear-gradient(180deg, #0181C1 0%, #2DB4D6 100%);
}

.prices {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 420px;
  padding-top: 65px;
  padding-bottom: 180px;
}

.prices__head {
  display:  flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.prices__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 57px;
  text-transform: uppercase;
  color: $color-text-white;
}

.prices__subheader {
  margin: 8px 0 40px;
  padding: 0;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  color: $color-text-white;
}

.prices__image {
  fill: #ffffff;
}

// #endregion

// #region Prices list section
.prices__listarea {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: -135px;
}

.prices__list {
  margin: 0;
  padding: 0;
  position: relative;
  top: -135px;

  display: flex;
  width: 1170px;
  justify-content: space-between;

  list-style: none;
}

.prices__plan {
  display: block;
  width: 270px;
  height: 660px;

  background-color: #ffffff;
  border: 1px solid #D9D9D9;
  border-radius: 4px;

  transition: 
    border 350ms linear,
    box-shadow 350ms linear,
    border-radius 350ms linear;
}

.prices__plan:hover {
  border: 2px solid #57BAE7;
  box-shadow: 0px 62px 80px rgba(0, 0, 0, 0.07), 0px 22px 24px rgba(0, 0, 0, 0.04), 0px 6px 4px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
}

.prices__footer {
  position: relative;
  top: -135px;
  margin: 48px 0 6px;
  
  font-size: 20px;
  line-height: 24px;

  &--strong {
    font-weight: 700;
    color: $color-accent-blue;
  }
}
// #endregion

// #region Negative section
.negative {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.negative__list {
  margin: 23px 0 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
  list-style: none;
}

.negative__list-item {
  margin: 34px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 566px;
  min-height: 323px;
}
// #endregion

// #region Cloud section
.cloud {
  // position:absolute;
  position: absolute;
  z-index: 1  ;
  height: auto;
  fill: $color-cloud-blue;
}

.cloud--1 {
  top: 214px;
  left: 270px;
}

.cloud--2 {
  top: 660px;
  left: 595px;
}

.cloud--3 {
  top: 1135px;
  left: 355px;
}
// #endregion